<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title of Page -->
    <title>Aditya Shibrady</title>

    <!-- meta for description of web page and the keywords associated -->
    <meta charset="UTF-8">
    <meta name = "author" content = "Aditya Shibrady">
    <meta name = "description" content = "Aditya Shibrady's Web Page">
    <meta name = "keywords" content="html/text">
    <!-- Reference Libraries -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Favorites Icon (Favicon) -->
    <link rel='shortcut icon' type='image/png' href='../other/favicon.ico'>
</head>
<body>
<br><br><br>
<div class="container-fluid">
    <h1><center>Web Programming Examples</center></h1><br><br>
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <table class="table table-striped" id="demo">
                <thead>
                <tr>
                    <th>Practise Work</th>
                    <th>Description</th>
                    <th>Live</th>
                    <th>SourceCode</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Personal Page using Bootstrap</td>
                    <td><span class="label label-success"><a href="../index.html" style="color:white;">View</a></span></td></tr>
                    <td><span class="label label-success"><a href="../index.html" style="color:white;">View</a></span></td></tr>
                <tr>
                    <td>2</td>
                    <td>Form Validation using jQuery</td>
                    <td><span class="label label-success"><a href="../views/validate.html" style="color:white;">View</a></span></td
                    <td><span class="label label-success"><a href="../index.html" style="color:white;">View</a></span></td></tr>>
                </tr>
                <tr>
                    <td>3</td>
                    <td>jQuery AJAX XML Parsing</td>
                    <td><span class="label label-success"><a href="../views/books.html" style="color:white;">View</a></span></td>
                    <td><span class="label label-success"><a href="../index.html" style="color:white;">View</a></span></td></tr>
                </tr>
                </tbody>
            </table></div>
        <div class="col-xs-2"></div>
    </div>
</div>
</body>
</html>